* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 330px;
    margin-bottom: 12px;
}

#clear{
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 2px #999;
    background-color: pink;
}

#clear:hover{
    background-color: lightcoral;
}

#clear:active{
    transform: translateY(2px);
    box-shadow: 0 0px #666;
}

#calculator-body{
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 350px;
    border: solid 2px black;
    border-radius: 10px;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 30px #999;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 370px;
    margin-top: 85px;
}

.inner-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 332px;
    width: 332px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#display{
    display: flex;
    font-size: 40px;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    width: 330px;
    border: solid 2px black;
    border-radius: 10px;
    margin: 10px;
    margin-top: 16px;
    margin-bottom: 12px;
    padding: 12px;
    background-color: white;
}

.op:hover{
    background-color: lightcoral;
}

.cell{
    border: solid 1px black;
    border-radius: 10px;
    flex-grow: 1;
    cursor: pointer;
    font-size: 40px;
    padding: 0;
    margin: 0;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 2px #999;
}

.num:hover{
    background-color: lightblue;
}

.cell:active{
    transform: translateY(2px);
    box-shadow: 0 0px #666;
}